.header__info-block {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}